<!-- Back on home page -->
<button pButton class="p-button-secondary p-button-text" routerLink="/home">
    <i class="pi pi-arrow-left"></i>
    <p>Retour à la page d'accueil</p>
</button>
<!-- Name, images, address of the requested place -->
<div class="container">
    <h2>{{placeData?.name}}</h2>
    <div class="images">
        <p-carousel [value]="images" [numVisible]="1" [circular]="true">
            <ng-template let-images pTemplate="item">
                <img [src]="images"
                style="overflow: hidden; background-repeat: no-repeat;"
                width="100%" 
                height="100%"
                alt="place-images">
            </ng-template>
        </p-carousel>   
    </div>
    <p>Adresse: <strong class="purple-font">{{placeData?.address}}, {{placeData?.postal_code}}, {{placeData?.city}}</strong></p>
    <!-- Go to location -->
    <button id="goToButton" pButton label="Afficher sur la carte" class="p-button-outlined p-button-help"></button>
</div>
<!-- Write a review -->
<div class="newReview">
    <textarea 
    id="newReviewTextarea"
    pInputTextarea 
    placeholder="Ajouter un commentaire"
    [(ngModel)]="newReviewContent" 
    (click)="onLoginVerification()">
    </textarea>
    <p-button 
    id="sendingButton" 
    icon="pi pi-send" 
    styleClass="p-button-rounded p-button-help" 
    [disabled]="!newReviewContent"
    (click)="onPostReview()">
    </p-button>
</div>
<!-- Reviews -->
<div class="reviews-container" *ngFor="let review of reviews">
    <app-review [review]="review" [placeId]="placeId"></app-review>
</div>