button > p {
    margin-left: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 100%;
}

img {
    border-radius: 10px;
    width: 100%;
    height: 15rem;
}

#goToButton {
    width: 100%;
    margin: 2rem 0;
}

.newReview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newReviewTextarea {
    width: 100%;
    height: 45px;
    resize: none;
    transition: height 0.3s ease;
}

#newReviewTextarea:focus {
    width: 100%;
    height: 8rem;
}

#sendingButton {
    margin-left: 1rem;
}
.reviews-container {
    margin-top: 1rem;
}

@media screen and (min-width: 900px) {
    .images {
        width: 50%;
    }
    .img {
        width: 100%;
    }
    .reviews-container, .newReview {
        width: 80%;
        margin: 1rem auto 0 auto;
    }
    #goToButton {
        width: 80%;
    }
}