<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Peaky Blinders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./lib/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./lib/Flat-UI-master/dist/css/flat-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="./lib/Flat-UI-master/dist/css/flat-ui.css" />
    <link rel="stylesheet" href="./lib/leaflet/leaflet.css" />
	
  </head>

  <body>
    <nav
      class="navbar navbar-inverse navbar-embossed"
      role="navigation"
      style="margin-bottom: 0; border-radius: 0; z-index: 1000;background-color: #dbb0ff;"
    >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Peaky Blinders</a>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12" id="mapDiv" style="position: absolute;height: 75%;width: 97.5%;"></div>
      </div>
    </div>
    
  </body>
  <script src="./lib/Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
  <script src="./lib/Flat-UI-master/dist/js/flat-ui.js"></script>
  <script src="./lib/leaflet/leaflet.js"></script>
  <script src="./js/urlTemplate.js"></script>
  <script src="./js/app.js"></script>
</html>