.box {
    width: 50rem;
}

.header {
    display: flex;
    align-items: center;
}

.author-date {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.rating {
    display: flex;
    margin-left: auto;
}

.counter:hover {
    cursor: pointer;
    text-decoration: underline;
}

.space {
    margin: 0 0.5rem;
}

.content {
    margin-top: 1rem;
}

p {
    margin: 0;
}

.grey-font {
    color: var(--greyFont);
}