<div class="box">
    <div class="header">
        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <div class="author-date">
            <strong>Auteur</strong> 
            <p class="grey-font">Posté le 00/00/0000</p>
        </div>
        <div class="rating">
            <p class="grey-font">5</p>
            <p class="counter space" (click)="onIncrementCounter('useful')">Utile</p>
            <p>|</p>
            <p class="counter space" (click)="onIncrementCounter('useless')">Pas utile</p>
            <p class="grey-font">5</p>
        </div>
    </div>
    <div class="content">
        <p>Lorem ipsuuuum</p>
    </div>
</div>